.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.done-true {
    text-decoration: line-through;
    color: #ddd;
}
.form-control[disabled], .form-control[readonly], .fieldset[disabled], .form-control {
    cursor: pointer;
    background-color: white;
}

input[type=file] {
    display:inline-block;
    margin:10px;
    cursor: pointer;
}

.error-msg{
    color: red;
}

