<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Employees Pay-Slip</h3>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input id="search" type="search" class="form-control" placeholder="Search..." data-ng-model="search">
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Pay period</th>
                        <th>Gross income</th>
                        <th>Income tax</th>
                        <th>Net Income</th>
                        <th>Super</th>
                    </tr>
                </thead>
                <tr data-ng-repeat="employee in EC.employees | filter: search" class="repeat-animation">
                    <td>{{$index + 1}}. </td>
                    <td><span>{{employee.payslip.name}}</span></td>
                    <td><span>{{employee.payslip.period}}</span></td>
                    <td><span>{{employee.payslip.grossIncome}}</span></td>
                    <td><span>{{employee.payslip.incomeTax}}</span></td>
                    <td><span>{{employee.payslip.netIncome}}</span></td>
                    <td><span>{{employee.payslip.superAnnuation}}</span></td>
                    <td><a class="glyphicon glyphicon-edit" ng-click="EC.editDetail($index)"></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <button id="add-btn" data-ui-sref="root.employees.new" class="btn btn-success">
            Add employee <span class="glyphicon glyphicon-plus"></span></button>
        <input class="btn btn-danger inline" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" nv-file-select="" uploader="uploader" />
        <label ng-if="EC.errorMsg.show" class="error-msg">{{EC.errorMsg.message }}</label>
    </div>
</div>